<li>
  {{#if isEditing}}
    <label>
      <input
        id="edit-input"
        type="text"
        value={{editingText}}
        onblur={{action "closeEdit"}}
        oninput={{action "editing"}}
        onkeydown={{action "onkeydown"}}>
    </label>
    <button
      type="button"
      onclick={{action "saveEdit"}}>
      Save
    </button>
  {{else}}
    <label>
      {{input
        type="checkbox"
        checked=todo.isCompleted
        onchange=(action "toggleComplete")}}
      <span
        class="{{if todo.isCompleted "completed"}}">
        {{todo.text}}
      </span>
    </label>
    <button
      type="button"
      onclick={{action "handleClickEdit"}}>
      Edit
    </button>
    <button
      type="button"
      onclick={{action "handleDelete"}}>
      Delete
    </button>
  {{/if}}
</li>