<li>
  {{#if isEditing}}
    <label>
      <input
        id="edit-input"
        type="text"
        value={{editingText}}
        onblur={{action "closeEdit"}}
        oninput={{action "editing"}}
        onkeydown={{action "onkeydown"}}>
    </label>
    <button
      type="button"
      onclick={{action "saveEdit"}}>
      Save
    </button>
  {{else}}
    <label>
      {{input
        type="checkbox"
        checked=todo.isCompleted
        onchange=(action "toggleComplete")}}
    </label>
    <a
      role="button"
      class="{{if todo.isCompleted "completed"}}"
      onclick={{action "handleClickText"}}>
      {{todo.text}}
    </a>
    <button
      type="button"
      onclick={{action "handleDelete"}}>
      Delete
    </button>
  {{/if}}
</li>