{{#each filterTypes as |type|}}
<button
  type="button"
  disabled={{eq type filterType}}
  {{action "setFilterType" type}}>
  {{type}}
</button>
{{/each}}

<form>
  {{input
    type="text"
    placeholder="todo"
    value=(mut todoInput)}}
  <button
    type="submit"
    {{action "addTodo" todoInput}}>
    Add
  </button>
</form>

{{#todo-items}}
  {{#each filterComputed as |todo|}}
    {{todo-item todo=todo}}
  {{/each}}
{{/todo-items}}
