{{#each filterTypes as |item|}}
<button
  type="button"
  disabled={{eq item.name filterType}}
  {{action item.onclick}}>
  {{item.name}}
</button>
{{/each}}

<form>
  {{input
    type="text"
    placeholder="todo"
    value=(mut todoInput)}}
  <button
    type="submit"
    {{action "addTodo" todoInput}}>
    Add
  </button>
</form>

{{#todo-items}}
  {{#each filterComputed as |todo|}}
    {{todo-item todo=todo}}
  {{/each}}
{{/todo-items}}
